<a href="https://colab.research.google.com/github/hearts2/Senior-Communication/blob/main/%EC%A3%BC%EB%AF%BC%EC%84%BC%ED%84%B0_%2B_%EB%8C%80%EC%A4%91%EA%B5%90%ED%86%B5%2C_%EC%A3%BC%EB%B3%80%ED%8A%B9%EC%84%B1_%EC%98%88%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
main = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/주민센터 UTMK변환.xlsx',index_col =0)
main.head(1)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567

In [ ]:
len(main)

509

# 주변특성 시작

In [ ]:
library = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/대중교통, 주변특성 데이터/공공도서관 위도경도 변환.xlsx',index_col =0)
library = library.iloc[:,13:15]
library.head(1)

         위도UTMK         경도UTMK
0  1.941139e+06  964517.755038

In [ ]:
x = main['위도UTMK']
x.head(1)

0    1.953680e+06
Name: 위도UTMK, dtype: float64

In [ ]:
y = main['경도UTMK']
y.head(1)

0    953451.030567
Name: 경도UTMK, dtype: float64

In [ ]:
a1 = library['위도UTMK']
a1.head(1)

0    1.941139e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = library['경도UTMK']
a2.head(1)

0    964517.755038
Name: 경도UTMK, dtype: float64

In [ ]:
main["도서관(500)"] = 0
main.head(1)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0

In [ ]:
for i in range(len(main)):
    for j in range(len(library)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['도서관(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1
...,...,...,...,...,...,...,...,...,...,...
504,강동구,천호동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0
507,서초구,방배동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1

In [ ]:
academy = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/대중교통, 주변특성 데이터/배움터 위도경도 변환.xlsx',index_col =0)
academy.head(1)

          위도          경도        위도UTMK        경도UTMK
0  37.577213  127.006909  1.952901e+06  956649.72721

In [ ]:
a1 = academy['위도UTMK']
a1.head(1)

0    1.952901e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = academy['경도UTMK']
a2.head(1)

0    956649.72721
Name: 경도UTMK, dtype: float64

In [ ]:
main["배움터(500)"] = 0
main.head(2)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0

In [ ]:
for i in range(len(main)):
    for j in range(len(academy)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['배움터(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0
...,...,...,...,...,...,...,...,...,...,...,...
504,강동구,천호동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1
507,서초구,방배동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0

In [ ]:
hospital = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/대중교통, 주변특성 데이터/병원 UTMK변환.xlsx',index_col =0)
hospital.head(1)

          위도          경도        위도UTMK         경도UTMK
0  37.528592  126.863614  1.947582e+06  943960.198502

In [ ]:
a1 = hospital['위도UTMK']
a1.head(1)

0    1.947582e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = hospital['경도UTMK']
a2.head(1)

0    943960.198502
Name: 경도UTMK, dtype: float64

In [ ]:
main["병원(500)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,0

In [ ]:
for i in range(len(main)):
    for j in range(len(hospital)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['병원(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
504,강동구,천호동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0
507,서초구,방배동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0

In [ ]:
park = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/대중교통, 주변특성 데이터/서울공원 위도경도 변환.xlsx',index_col =0)
park = park.iloc[:,20:]
park.head(1)

           위도UTMK         경도UTMK
0.0  1.949905e+06  955173.699701

In [ ]:
a1 = park['위도UTMK']
a1.head(1)

0.0    1.949905e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = park['경도UTMK']
a2.head(1)

0.0    955173.699701
Name: 경도UTMK, dtype: float64

In [ ]:
main["공원(500)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,0
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,0

In [ ]:
for i in range(len(main)):
    for j in range(len(park)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['공원(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0,0
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,강동구,천호동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0,1
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0,0
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0,0
507,서초구,방배동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0,0
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0,0

# 대중교통 시작

In [ ]:
bus = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/대중교통, 주변특성 데이터/서울 버스정류장.xlsx',index_col =0)
bus.head(1)

   ARS-ID     정류소명        X좌표        Y좌표        위도UTMK         경도UTMK
0    1001  종로2가사거리  126.98775  37.569765  1.952083e+06  954953.448869

In [ ]:
a1 = bus['위도UTMK']
a1.head(1)

0    1.952083e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = bus['경도UTMK']
a2.head(1)

0    954953.448869
Name: 경도UTMK, dtype: float64

In [ ]:
main["버스(100)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,0
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,0

In [ ]:
for i in range(len(main)):
    for j in range(len(bus)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 100
        if value == True:
            main['버스(100)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,1
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,1
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,4
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0,0,3
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,강동구,천호동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0,1,0
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0,0,0
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0,0,3
507,서초구,방배동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0,0,3
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0,0,0

In [ ]:
sandwich = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/대중교통, 주변특성 데이터/서울시 지하철역 위치.xlsx',index_col =0)
sandwich.head(1)

   역사_ID 역사명   호선          위도         경도        위도UTMK         경도UTMK
0   9996  미사  5호선  127.193877  37.560927  1.951024e+06  973153.163495

In [ ]:
a1 = sandwich['위도UTMK']
a1.head(1)

0    1.951024e+06
Name: 위도UTMK, dtype: float64

In [ ]:
a2 = sandwich['경도UTMK']
a2.head(1)

0    973153.163495
Name: 경도UTMK, dtype: float64

In [ ]:
main["지하철(250)"] = 0
main.head(3)

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100),지하철(250)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,1,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,1,0
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,4,0

In [ ]:
for i in range(len(main)):
    for j in range(len(sandwich)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 250
        if value == True:
            main['지하철(250)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK,도서관(500),배움터(500),병원(500),공원(500),버스(100),지하철(250)
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0,1,0
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1,1,0
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1,4,1
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0,0,3,0
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,강동구,천호동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153,0,2,0,1,0,0
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852,0,1,0,0,0,0
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446,0,1,0,0,3,0
507,서초구,방배동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135,0,0,0,0,3,0
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691,1,0,0,0,0,1

In [ ]:
# 엑셀로 저장
main.to_excel('주민센터 - 주변특성 + 대중교통.xlsx')