<a href="https://colab.research.google.com/github/hearts2/Senior-Communication/blob/main/%EC%A3%BC%EB%AF%BC%EC%84%BC%ED%84%B0_UTMK%EB%B3%80%ED%99%98_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyproj

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyproj
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 7.9 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj) (2022.6.15)
Installing collected packages: pyproj
Successfully installed pyproj-3.2.1

In [ ]:
import pandas as pd
import numpy as np
import pyproj
from pyproj import Transformer

ModuleNotFoundError: ignored

In [ ]:
main = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/데이터위도경도포함.xlsx',index_col=0)
main.head(1)

   자치구      동         시설명                 주소     연면적         위도          경도
0  종로구  청운효자동  청운효자동 주민센터  서울특별시 종로구 자하문로 92  965.52  37.584083  126.970636

In [ ]:
# 상일1동 주민센터 (37.5505, 127.1684) (예시)
transformer = Transformer.from_crs("epsg:4326", "epsg:5178")
transformer.transform(37.5505, 127.1684)

NameError: ignored

In [ ]:
# transformer.transform(37.560927, 127.193877)
list1 = []
for i in range(0, len(main)):
    list1.append(transformer.transform(main['위도'][i], main['경도'][i]))

list1

In [ ]:
df = pd.DataFrame(list1)
df.columns = ['위도UTMK', '경도UTMK']
df

           위도UTMK         경도UTMK
0    1.953680e+06  953451.030567
1    1.952806e+06  953286.588072
2    1.952190e+06  955056.678912
3    1.953774e+06  954435.679506
4    1.953223e+06  954699.580385
..            ...            ...
504  1.949452e+06  967593.315153
505  1.954203e+06  957275.933852
506  1.939588e+06  946023.287446
507  1.941835e+06  954896.456135
508  1.951614e+06  960669.395691

[509 rows x 2 columns]

In [ ]:
main0 = pd.concat([main, df], axis=1)
main0

,자치구,동,시설명,주소,연면적,위도,경도,위도UTMK,경도UTMK
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636,1.953680e+06,953451.030567
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191,126.968829,1.952806e+06,953286.588072
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,37.570728,126.988912,1.952190e+06,955056.678912
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,37.584979,126.981782,1.953774e+06,954435.679506
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,37.580025,126.984805,1.953223e+06,954699.580385
...,...,...,...,...,...,...,...,...,...
504,강동구,천호동,해공노인복지관,서울특별시 강동구 천중로17길 42-16,598,37.546582,127.130996,1.949452e+06,967593.315153
505,성북구,삼선동,삼선실버복지센터,서울특별시 성북구 삼선교로18길 41,542.11,37.588977,127.013925,1.954203e+06,957275.933852
506,금천구,독산1동,금천한내어르신복지센터,서울특별시 금천구 한내로 69-15,2003,37.456658,126.887549,1.939588e+06,946023.287446
507,서초구,방배동,방배느티나무쉼터,서울특별시 서초구 남부순환로287길 17-4,519.5,37.477389,126.987735,1.941835e+06,954896.456135
508,성동구,용답동,삼성시니어센터,서울특별시 성동구 용답동 72-17,1716.38,37.565800,127.052500,1.951614e+06,960669.395691

In [ ]:
main0.to_excel('주민센터 UTMK변환.xlsx')